{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Konversi Desimal ke Oktal</title>
{% endblock meta %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Bilangan Desimal</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Input Bilangan Desimal"
               name="masuk">
    </div>
    <button type="submit" class="btn btn-success">Proses</button>
    <div class="mb-3">
        <label for="formGroupExampleOutput2" class="form-label">Bilangan Oktal</label>
        <output type="text" class="form-control" id="formGroupExampleOutput2" name="keluar">{{keluar}}</output>
    </div>
</form>
{% endblock content %}
