{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Pemograman Lanjut</title>
{% endblock meta %}

{% block content %}
<header>
    <div class="container d-flex justify-content-between align-items-center">
        <div id="logo">
            <h7>
                <p1 style="font-weight: bolder">Pemograman Lanjut</p1>
            </h7>
        </div>

        <!-- .navbar -->
    </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="card" data-aos="zoom-out">
        <div class="row">
            <div class="column" style="margin-top: auto; margin-bottom: auto">
                <table style="color: black">
                    <tr>
                        <td style="width: 2.5cm">Nama</td>
                        <td>:</td>
                        <td>Sayyid Abdullah</td>
                    </tr>
                    <tr>
                        <td>NIM</td>
                        <td>:</td>
                        <td>181810101087</td>
                    </tr>
                    <tr>
                        <td>Jurusan</td>
                        <td>:</td>
                        <td>Matematika</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: text-top">Fakultas</td>
                        <td style="vertical-align: text-top">:</td>
                        <td>Matematika dan Ilmu Pengetahuan Alam</td>
                    </tr>
                </table>
            </div>
            <div class="column">
                <img src="{% static 'img/Gambarku.jpg' %}" style="height: 7cm; border-radius: 50pt"/>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
